<div class="profile-container">
    <div *ngIf="user$ | async as user"
        class="max-w-sm mx-auto mt-10 bg-white rounded-lg shadow-md overflow-hidden md:max-w-2xl animate-fade-in-up transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105">
        <div class="md:flex">
            <div class="md:flex-shrink-0">
                <img class="h-48 w-full object-cover md:w-48" src="{{user.imageUrl}}" alt="User Image">
            </div>
            <div class="p-8">
                <h2 class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Profile</h2>
                <div class="mt-4 flex items-center">
                    <label class="text-gray-700 font-medium mr-2">Name:</label>
                    <a href="#" class="text-lg font-medium text-black hover:underline">{{user.name}}</a>
                </div>
                <div class="mt-2 flex items-center">
                    <label class="text-gray-700 font-medium mr-2">Location:</label>
                    <p class="text-gray-500">{{user.location}}</p>
                </div>
                <div class="mt-2 flex items-center">
                    <label class="text-gray-700 font-medium mr-2">Email:</label>
                    <p class="text-gray-500">{{user.email}}</p>
                </div>
                <div class="mt-2 flex items-center">
                    <label class="text-gray-700 font-medium mr-2">Gender:</label>
                    <p class="text-gray-500">{{user.gender}}</p>
                </div>
                <div class="mt-2 flex items-center">
                    <label class="text-gray-700 font-medium mr-2">Mobile:</label>
                    <p class="text-gray-500">{{user.mobileNo}}</p>
                </div>
            </div>
        </div>
    </div>
</div>