<div class="p-4 max-w-xl mx-auto sm:max-w-md">
    <div class="bg-white shadow rounded-lg overflow-hidden">

        <!-- Currency Selection -->
        <div class="px-4 pt-6 sm:px-2">
            <div class="mb-2">
                <label for="fromCurrency" class="block text-gray-700 text-sm font-bold mb-2">
                    From Currency
                </label>
                <select [(ngModel)]="selectedFromCurrency" (change)="onCurrencyChange()"
                    class="shadow border rounded w-full py-2 px-3 text-gray-700">
                    <option *ngFor="let currency of currencyList" [value]="currency">
                        {{ currency }}
                    </option>
                </select>
            </div>
        </div>

        <div class="px-4 pt-6 sm:px-2">
            <div class="mb-2">
                <label for="toCurrency" class="block text-gray-700 text-sm font-bold mb-2">
                    To Currency
                </label>
                <select [(ngModel)]="selectedToCurrency" (change)="onCurrencyChange()"
                    class="shadow border rounded w-full py-2 px-3 text-gray-700">
                    <option *ngFor="let currency of currencyList" [value]="currency">
                        {{ currency }}
                    </option>
                </select>
            </div>
        </div>

        <!-- Amount to Send Input -->
        <div class="px-4 pt-6 sm:px-2">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
                    You send exactly
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="amount" type="number" placeholder="Enter amount" [(ngModel)]="amountToSend"
                    (input)="calculate()">
            </div>
        </div>

        <!-- Fee and Exchange Rate Display -->
        <div class="px-4 py-6 sm:px-2 bg-gray-100">
            <div class="flex justify-between items-center mb-3">
                <div class="text-sm text-gray-600">Base Fee</div>
                <div class="text-sm font-bold text-gray-600">
                    {{ baseFee | currency:selectedFromCurrency }}
                </div>
            </div>
            <div class="flex justify-between items-center mb-3">
                <div class="text-sm text-gray-600">Fixed Fee</div>
                <div class="text-sm font-bold text-gray-600">{{ fixedFee | currency:selectedFromCurrency }}</div>
            </div>
            <div class="flex justify-between items-center mb-3">
                <div class="text-sm text-gray-600">= Total Amount We'll Convert</div>
                <div class="text-sm font-bold text-gray-600">{{ amountToSend - totalFees |
                    currency:selectedFromCurrency }}</div>
            </div>
            <div class="flex justify-between items-center mb-3">
                <div class="text-sm text-gray-600">× Exchange Rate</div>
                <div class="text-sm font-bold text-gray-600">{{ exchangeRate }}</div>
            </div>
        </div>

        <!-- Amount Received Input -->
        <div class="px-4 py-6 sm:px-2">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="recipientGets">
                    Recipient gets
                </label>
                <div class="relative">
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="recipientGets" type="text" disabled placeholder="Recipient will get"
                        [(ngModel)]="amountReceived">
                    <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                        <span class="text-gray-500 sm:text-sm" id="currency-symbol">{{ selectedToCurrency }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="px-4 pb-8 sm:px-2">
            <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
                <button
                    class="flex-1 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 sm:text-sm"
                    (click)="getStarted()">
                    Get started
                </button>
            </div>
        </div>

    </div>
    <div *ngIf="popupState" class="fixed-overlay">
        <div class="modal-container">
            <app-transaction-form [fromCountry]="selectedFromCountry" [toCountry]="selectedToCountry"
                [senderName]="senderName" [sendingCurrency]="selectedFromCurrency"
                [receivingCurrency]="selectedToCurrency" [sendingAmount]="amountToSend"
                (popupStateChanged)="togglePopupState()"></app-transaction-form>
        </div>
    </div>
</div>