<!-- <div class="container mx-auto p-6">
    <h1 class="text-4xl font-bold text-center mb-4">Welcome to the Home Page!</h1>
    <p class="text-center text-lg">This is the home page of our application, styled with Tailwind CSS.</p>
</div> -->



<div class="card"style="margin-top:40px;width: 70vw; height: 70vh;">
    <div class="leftcard" style="width: 20vw;height: 63vh;">
        <div class="card-header"><i class="ri-user-fill"></i>User Name</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" href="#">Profile</li>
          <li class="list-group-item"href="#">Generate Reports</li>
          <li class="list-group-item"href="#">Bank Details</li>
          <li class="list-group-item"href="#">Send Money</li>
          <!-- <li class="list-group-item"href="#">Sign Out</li> -->
        </ul>
      </div>
      <!-- <div class="rightcard"style="width: 45vw; height: 63vh"></div> -->
    </div>
has context menu