
.card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.left{
    position: relative;
 
}
.card-header{
    font-size: 20px;
    font-weight: 500;
 
}
.card-header i{
    margin-left: 10px;
    margin-right: 50px;
    padding: 5px;
}
.list-group  li{
    padding: 10px;
} .leftcard{
    left: 20px;
    position: relative;
    top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.203);
    border-radius: 5px;
   
 
}
.rightcard{
   
    position: relative;
   
    border: 1px solid rgba(0, 0, 0, 0.203);
    border-radius: 5px;
}