<div class="flex justify-center items-center p-6">
    <div class="bg-white rounded-lg shadow-lg p-8 m-4 max-w-xl w-full">
        <h1 class="text-center text-gray-800 text-2xl font-bold mb-6">Add Bank Account</h1>
        <form (ngSubmit)="addBankAccount()">
            <div class="flex flex-col mb-4">
                <label class="mb-2 font-bold text-lg text-gray-900" for="accountNumber">Account Number</label>
                <input class="border py-2 px-3 text-grey-800" type="text" name="accountNumber" id="accountNumber"
                    [(ngModel)]="bankAccount.accountNumber">
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2 font-bold text-lg text-gray-900" for="accountHolderName">Account Holder's
                    Name</label>
                <input class="border py-2 px-3 text-grey-800" type="text" name="accountHolderName"
                    id="accountHolderName" [(ngModel)]="bankAccount.accountHolderName">
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2 font-bold text-lg text-gray-900" for="bankName">Bank Name</label>
                <input class="border py-2 px-3 text-grey-800" type="text" name="bankName" id="bankName"
                    [(ngModel)]="bankAccount.bankName">
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2 font-bold text-lg text-gray-900" for="ifscCode">IFSC Code</label>
                <input class="border py-2 px-3 text-grey-800" type="text" name="ifscCode" id="ifscCode"
                    [(ngModel)]="bankAccount.ifscCode">
            </div>
            <div class="flex flex-col mb-6">
                <label class="mb-2 font-bold text-lg text-gray-900" for="contactNumber">Contact Number</label>
                <input class="border py-2 px-3 text-grey-800" type="text" name="contactNumber" id="contactNumber"
                    [(ngModel)]="bankAccount.contactNumber">
            </div>
            <button class="block bg-blue-500 hover:bg-blue-700 text-white uppercase text-lg mx-auto p-4 rounded"
                type="submit">Add Account</button>
        </form>
    </div>
</div>