/* styles.css (or styles.scss) */

/* Import Tailwind CSS styles */
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

/* Your custom styles go here */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~bootstrap/dist/css/bootstrap.min.css';   

body::-webkit-scrollbar {
    width: 8px;
    height: 12px;
  }
 
  body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 6px;
  }
 
  body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(201, 143, 84)
  }
 
  body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
 
  body::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
  }
